<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="GetSys.Properties.Settings.new_om2000ConnectionString"
        connectionString="Data Source=192.168.100.16;Initial Catalog=new_om2000;Persist Security Info=True;User ID=sa;Password=dvddecrypter"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
